
################################################################################
# GITIGNORE FILE
################################################################################

desktop.ini

# build data / generated data / etc...
[Tt][Ee][Mm][Pp]/
build/

# vs cache data
debug/.vs/
debug/enc_temp_folder/